.box{
  border-width: 4px;
  border-style: inset;
  border-color:#111E2F;
  background-color: #bcbfc6;
  text-align: center;
  position: relative; 
  top: 400px; 
  width: 100%;

}
a:hover{
  background:#787D80;
}
.choice {
        background-color: #bcbfc6;
        text-align: center;
        position: relative; 
        top: 600px; 
        width: 100%;
        font-family: arial;
        
}