body {
  background-color: white;
}
.game {
  width: 800px;
  height: 450px;
  background-color: rgb(0 128 128);
  margin: 3% auto auto auto;
  position: relative;
}
@keyframes slideToRight {
  from {
    left: -10%;
  }
  to {
    left: 25%;
  }
}
@keyframes slideToLeft {
  from {
    right: -10%;
  }
  to {
    right: 25%;
  }
}
@keyframes moveInButton {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes textBoxExpand {
  from {
    width: 0; 
    height: 0;
    bottom: 5%;
    left: 50%;
    color: rgba(255, 255, 255, 0);
    
  }
  to {
    width: 80%;
    color: rgba(255, 255, 255, 0);
  }
}
.title {
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: 72pt;
  color: white;
}
.jail {
  position: absolute;
  animation-name: slideToRight;
  animation-duration: 4s;
  left: 25%;
}
.break {
  position: absolute;
  right: 25%;
  animation-name: slideToLeft;
  animation-duration: 4s;
}
.button {
  background-color: rgb(64 0 0);
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 60px/50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 28pt;
  cursor: pointer;
}
.button2 {
  background-color: rgb(64 0 0);
  border: none;
  color: white;
  padding: 2px 0px;
  width: 200px;
  border-radius: 60px/50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 14pt;
  cursor: pointer;
}
.button:hover {
  background: rgb(128 0 0);
  /* transform: translateY(-3px); */
  transform: scaleX(1.1) scaleY(1.1);
}
.button:hover::after {
  transform: scaleX(.5) scaleY(.5);
  opacity: 0;
}
.button:active {
  transform: scaleX(.9) scaleY(.9);
}
.buttonanimated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.buttonanimated2 {
  animation: moveInButton 0.5s ease-out 1.25s;
  animation-fill-mode: backwards;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
.play {
  position: absolute;
  bottom: 25%;
  left: 26%;
}
.topleft {
  position: absolute;
  bottom: 42%;
  left: 15%;
}
.bottomleft {
  position: absolute;
  bottom: 13%;
  left: 15%;
}
.topright {
  position: absolute;
  bottom: 42%;
  right: 15%;
}
.bottomright {
  position: absolute;
  bottom: 13%;
  right: 15%;
}
.rules {
  position: absolute;
  bottom: 25%;
  right: 26%;
}
.home {
  background-image: url("jail.jpg");
  background-size: contain;
}
.rope1 {
  background-image: url("rope1.jpg");
  background-size: cover;
}
.hallway1 {
  background-image: url("hallway1.jpg");
  background-size: cover;
}
.textbox {
  width: 80%;
  min-height: 7rem;
  border-radius: 20px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.466);
  text-align: center;
  animation-name: textBoxExpand;
  animation-duration: 1s;
  
}
.info {
  margin-top: 11px;
}
.menu {
  position: absolute;
  right: 2px;
  top: 2px;
  transition: all 200ms;
  font-size: 23px;
  font-weight: bolder;
  color: #333;
  background-color: white;
  border-radius: 90%;
  width: 25px;
  height: 25px;
  text-align: center;
}
.back {
  text-decoration: none;
}